<!--
  Retrospect by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<body class="landing">

  <!-- Header -->
    <header id="header" class="alt">
      <h1><a href="index.html.erb">Women On Rails</a></h1>
      <a href="#nav"></a>
    </header>

  <!-- Nav -->
    <nav id="nav">
      <ul class="links">
        <li><a href="index.html.erb">womenonrails.com</a></li>
        <!-- <li><a href="worriers.html.erb">Worriers</a></li> -->
      </ul>
    </nav>

  <!-- Banner -->
    <section id="banner">
      <i class="icon fa-diamond"></i>
      <h2>Worriers & Mentors</h2>
      <!-- <p></p> -->
      <!-- <ul class="actions">
        <li><a href="#" class="button big special"></a></li>
      </ul> -->
    </section>


  <!-- SECTION PROFIL : Chaque nouvelle WoR est invitée à ajouter son profil sur le trombi des worriers dans cette section -->
  <!-- Section emprunté à templated-retention -->
  <div id="portfolio-wrapper">
    <div id="portfolio" class="container">
      <div id="column1">
        <a href="#" class="image image-full"><img src="images/.jpg" alt="" /></a>
        <div class="title">
          <h2>Prénom Nom</h2>
        </div>
        <p>Dites en 1 phrase qui vous êtes, ce que vous faites, ce que vous aimez...</p>
        <div class="fa fa-code"> Quel est ton objectif avec ce workshop? "Je code sur mon projet trucmuche ou sur les issues github WoR.com ou je fais tel tuto..."
        </div>
        <br><div class="fa fa-battery-empty"> WoRNewbee</div>
        <!-- <br><div class="fa fa-battery-quarter">"1ère étoile</div>
        <br><div class="fa fa-battery-half">"Grand bassin"</div>
        <br><div class="fa fa-battery-three-quarters">Mentor</div> -->
        <br><a href="#" class="fa fa-github"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-twitter"></a>
      </div>
      <div id="column2">
        <a href="#" class="image image-full"><img src="images/.jpg" alt="" /></a>
        <div class="title">
          <h2>Prénom Nom</h2>
        </div>
        <p>Dites en 1 phrase qui vous êtes, ce que vous faites, ce que vous aimez...</p>
        <div class="fa fa-code"> Je code sur mon projet trucmuche ou sur les issues github WoR.com ou je fais tel tuto...
        </div>
        <br><div class="fa fa-battery-empty"> WoRNewbee</div>
        <!-- <br><div class="fa fa-battery-quarter">"1ère étoile</div>
        <br><div class="fa fa-battery-half">"Grand bassin"</div>
        <br><div class="fa fa-battery-three-quarters">Mentor</div> -->
        <br><a href="#" class="fa fa-github"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-twitter"></a>
      <div id="column3">
        <a href="#" class="image image-full"><img src="images/.jpg" alt="" /></a>
        <div class="title">
          <h2>Prénom Nom</h2>
        </div>
        <p>Dites en 1 phrase qui vous êtes, ce que vous faites, ce que vous aimez...</p>
        <div class="fa fa-code"> Je code sur mon projet trucmuche ou sur les issues github WoR.com ou je fais tel tuto...
        </div>
        <br><div class="fa fa-battery-empty"> WoRNewbee</div>
        <!-- <br><div class="fa fa-battery-quarter">"1ère étoile</div>
        <br><div class="fa fa-battery-half">"Grand bassin"</div>
        <br><div class="fa fa-battery-three-quarters">Mentor</div> -->
        <br><a href="#" class="fa fa-github"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-twitter"></a>
      <div id="column4">
        <a href="#" class="image image-full"><img src="images/.jpg" alt="" /></a>
        <div class="title">
          <h2>Prénom Nom</h2>
        </div>
        <p>Dites en 1 phrase qui vous êtes, ce que vous faites, ce que vous aimez...</p>
        <div class="fa fa-code"> Je code sur mon projet trucmuche ou sur les issues github WoR.com ou je fais tel tuto...
        </div>
        <br><div class="fa fa-battery-empty"> WoRNewbee</div>
        <!-- <br><div class="fa fa-battery-quarter">"1ère étoile</div>
        <br><div class="fa fa-battery-half">"Grand bassin"</div>
        <br><div class="fa fa-battery-three-quarters">Mentor</div> -->
        <br><a href="#" class="fa fa-github"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-twitter"></a>
    </div>
  </div>

  <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <ul class="icons">
<!--             <li><a href="#" class="icon fa-facebook">
            <span class="label">Facebook</span>
          </a></li> -->
          <li><a href="https://twitter.com/railsgirlsparis" class="icon fa-twitter">
            <span class="label">Twitter</span>
          </a></li>
<!--             <li><a href="#" class="icon fa-instagram">
            <span class="label">Instagram</span>
          </a></li>
          <li><a href="#" class="icon fa-linkedin">
            <span class="label">LinkedIn</span>
          </a></li> -->
        </ul>
        <ul class="copyright">
          <li>&copy; Women On Rails</li>
          <!-- <li>Images: <a href="http://unsplash.com">Unsplash</a>.</li> -->
          <!-- <li>Design: <a href="http://templated.co">TEMPLATED</a>.</li> -->
        </ul>
      </div>
    </footer>

  <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>

</body>
