<!-- Header -->
    <header>
      <h1><a href="index.html.erb">Women On Rails </a></h1>
      <a href="#nav"></a>
    </header>

  <!-- Banner -->
    <section id="banner">
      <i class="icon fa-diamond"></i>
      <h2>Worriers & Mentors</h2>
    </section>


  <!-- SECTION PROFIL : Chaque nouvelle WoR est invitée à ajouter son profil sur le trombi des worriers dans cette section -->
  <div>
    <a href="#"><img src="http://photos1.meetupstatic.com/photos/member/9/b/a/1/highres_243699841.jpeg" alt="" /></a>
    <div>
      <h2>Vanessa Ngangue</h2>
    </div>
    <p>Je fais de l'intégration web et du theming Drupal</p>
    <div class="fa fa-code"> Pas de projet perso pour le moment et je découvre Ruby.
    </div>
    <br><div class="fa fa-battery-empty"> WoR Newbee</div>
    <!-- <br><div class="fa fa-battery-quarter">"1ère étoile</div>
    <br><div class="fa fa-battery-half">"Grand bassin"</div>
    <br><div class="fa fa-battery-three-quarters">Mentor</div> -->
    <br><a href="https://github.com/henleyregatta" class="fa fa-github"></a>
  </div>
  <div>
    <a href="#" class="image image-full"><img src="images/orane.jpg" alt="" /></a>
    <div class="title">
      <h2>Orane Massias</h2>
    </div>
    <p>Je suis une codeuse féministe passionnée aventureuse :P</p>
    <div class="fa fa-code"> Développeuse Drupal (php/JS) en agence :)
    </div>
    <br><div class="fa fa-battery-2"> WoR Newbee</div>
    <!-- <br><div class="fa fa-battery-quarter">"1ère étoile</div>
    <br><div class="fa fa-battery-half">"Grand bassin"</div>
    <br><div class="fa fa-battery-three-quarters">Mentor</div> -->
    <br><a href="#" class="fa fa-github"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-twitter"></a>
    </div>
  </div>
  <div>
    <a href="#"><img src="" alt="" /></a>
    <div class="title">
      <h2>Sophia Kecir Camper</h2>
    </div>
    <p>Après avoir bidouillé du CMS sur Flashmatic, j'ai fait LeWagon début 2015 et me voilà à attaquer la montagne du code à main nue ! :D</p>
    <div class="fa fa-code"> En train de coder visaeligibility pour que la terre entière sache à quel visa on est éligible pour aller bosser aux US :-)
    </div>
    <!-- <br><div class="fa fa-battery-empty"> WoR Newbee</div> -->
    <br><div class="fa fa-battery-quarter">"1ère étoile</div>
    <!-- <br><div class="fa fa-battery-half">"Grand bassin"</div>
    <br><div class="fa fa-battery-three-quarters">Mentor</div> -->
    <br><a href="https://github.com/sophiakc" class="fa fa-github"></a>
    <a href="https://www.linkedin.com/in/sophiakc" class="fa fa-linkedin"></a>
    <a href="https://twitter.com/_sophiakc" class="fa fa-twitter"></a>
  </div>
  <div>
    <a href="#"><img src="" alt="" /></a>
    <div class="title">
      <h2>Prénom Nom</h2>
    </div>
    <p>Dites en 1 phrase qui vous êtes, ce que vous faites, ce que vous aimez...</p>
    <div class="fa fa-code"> Je code sur mon projet trucmuche ou sur les issues github WoR.com ou je fais tel tuto...
    </div>
    <br><div class="fa fa-battery-empty"> WoR Newbee</div>
    <!-- <br><div class="fa fa-battery-quarter">"1ère étoile</div>
    <br><div class="fa fa-battery-half">"Grand bassin"</div>
    <br><div class="fa fa-battery-three-quarters">Mentor</div> -->
    <br><a href="#" class="fa fa-github"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-twitter"></a>
  </div>
  <div>
    <a href="#"><img src="avatar.jpg" alt="" /></a>
    <div class="title">
      <h2>Prénom Nom</h2>
    </div>
    <p>Dites en 1 phrase qui vous êtes, ce que vous faites, ce que vous aimez...</p>
    <div class="fa fa-code"> Je code sur mon projet trucmuche ou sur les issues github WoR.com ou je fais tel tuto...
    </div>
    <br><div class="fa fa-battery-empty"> WoR Newbee</div>
    <!-- <br><div class="fa fa-battery-quarter">"1ère étoile</div>
    <br><div class="fa fa-battery-half">"Grand bassin"</div>
    <br><div class="fa fa-battery-three-quarters">Mentor</div> -->
    <br><a href="#" class="fa fa-github"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-twitter"></a>
  </div>
