  <!-- Header -->
    <header>
      <h1><a href="">Women On Rails</a></h1>
    </header>

    <section>
      <h2>Women On Rails</h2>
      <p>Workshop féminin et hebdomadaire à Paris pour coder en Ruby on Rails</p>
      <ul>
        <li><a href="http://www.meetup.com/Women-On-Rails/">Je m'inscris</a></li>
      </ul>
    </section>

    <section>
      <div>
        <header>
          <h2>Restons en contact !</h2>
          <p>Une question, une idée, une ressource...</p>
        </header>
        <form action="#" method="POST">
          <div class="container 75%">
            <div class="row uniform 50%">
              <div class="6u 12u$(xsmall)">
                <input name="name" placeholder="Prénom Nom" type="text" />
              </div>
              <div class="6u$ 12u$(xsmall)">
                <input name="email" placeholder="Email" type="email" />
              </div>
              <div class="12u$">
                <textarea name="message" placeholder="Message" rows="4"></textarea>
              </div>
            </div>
          </div>
          <ul class="actions">
            <li><input type="submit" class="special" value="Envoyer" /></li>
            <li><input type="reset" class="alt" value="Réinitialiser" /></li>
          </ul>
        </form>
      </div>
    </section>
