<!-- navbar & footer dans application.html.erb -->

<!-- section intro + call-to-action -->
<section>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <h2>Coder ne nous fait pas peur.</h2>
        <p>Retrouvons-nous chaque semaine à Paris pour <br>un workshop féminin Ruby on Rails !</p>
        <a class="btn btn-lg btn-default" href="http://www.meetup.com/Women-On-Rails" role="button"><i class="fa fa-check"></i> J'y participe</a>
      </div>
    </div>
  </div>

  <div id="manifest" class="page-header">
    <h3>Manifest</h3>
    <p>
      Vous êtes une femme et vous avez décidé de coder ? <br>Vous pensez que c’est une compétence indispensable aujourd’hui ?
      <br>Vous souhaitez vous entraîner et progresser ?

      <br><br><b>Women On Rails est un <b>groupe féministe</b>, <b>LGBT-friendly</b> et à <b>majorité féminine</b> qui a pour but de découvrir, s’entraider et pratiquer régulièrement les rudiments informatiques et particulièrement le langage Ruby et son framework Rails.</b> <br><br>Venez comme vous êtes, avec votre ordinateur portable, quel que soit votre niveau et retrouvez d’autres apprenantes motivées, soutenues par des mentors bienveillants !

      <br><br><b>Quand ?</b> Workshop hebdomadaire, chaque lundi soir de 19h à 21h.
      <br><b>Où ?</b> à Paris, des startups de haute volée nous accueille chaque semaine

      <br><br><b>Mentors</b>, vous avez de l’expérience en RoR et voulez partager votre passion ?
      <br><b>Startups</b>, vous voulez nous accueillir dans vos locaux ?
      <br><b>Sponsors</b>, vous souhaitez prendre en charge nos dépenses de fonctionnement ?
      <!-- <br><a href="mailto:hello@womenonrails.com"><i class="fa fa-comments-o"></i> Discutons-en !</a> -->
      <br><a class="btn btn-sm btn-default" href="mailto:hello@womenonrails.com" role="button"><i class="fa fa-comments-o"></i> Discutons-en !</a>

      <br><br><i>Women On Rails suit le <a href="http://coaching.rubymonstas.org/">code of conduct des Ruby Monstas.</i></a>
    </p>

  </div>

<!-- section meetup -->
<!-- <div>
  <iframe width="225" height="570" src="http://meetu.ps/2WhkXq" frameborder="0"></iframe>
</div> -->
