
  <!-- Header -->
    <!-- <header>
      <h1><a href="">Women On Rails</a></h1>
    </header> -->

    <!-- <section>
      <h2>Women On Rails</h2>
      <p>Workshop féminin et hebdomadaire à Paris pour coder en Ruby on Rails</p>
      <ul>
        <li><a href="http://www.meetup.com/Women-On-Rails/">Je m'inscris</a></li>
      </ul>
    </section>
 -->
<!--     <section>
      <div>
        <header>
          <h2>Restons en contact !</h2>
          <p>Une question, une idée, une ressource...</p>
        </header>
        <form action="#" method="POST">
          <div class="container 75%">
            <div class="row uniform 50%">
              <div class="6u 12u$(xsmall)">
                <input name="name" placeholder="Prénom Nom" type="text" />
              </div>
              <div class="6u$ 12u$(xsmall)">
                <input name="email" placeholder="Email" type="email" />
              </div>
              <div class="12u$">
                <textarea name="message" placeholder="Message" rows="4"></textarea>
              </div>
            </div>
          </div>
          <ul class="actions">
            <li><input type="submit" class="special" value="Envoyer" /></li>
            <li><input type="reset" class="alt" value="Réinitialiser" /></li>
          </ul>
        </form>
      </div>
    </section>
 -->


    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a href="#">Women On Rails</a></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <!-- <li class="active"><a href="#"></a></li> -->
                  <li><a href="#">Manifest</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="www.meetup.com/Women-On-Rails/">Prochain workshop</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <!-- section intro + call-to-action -->
          <div class="inner cover">
            <h1 class="cover-heading">Coder ne nous fait pas peur.</h1>
            <p class="lead">Retrouvons-nous chaque semaine à Paris pour <br>un workshop féminin Ruby on Rails !</p>
            <p class="lead">
              <a href="www.meetup.com/Women-On-Rails/" class="btn btn-lg btn-default">Je m'inscris au prochain workshop</a>
            </p>
          </div>

          <!-- section contact -->
          <div>
            <iframe width="225" height="570" src="http://meetu.ps/2WhkXq" frameborder="0"></iframe>
          </div>
        </div>

      </div>

    </div>
